{% extends 'base.html.twig' %}

{% block title %}New Profs{% endblock %}

{% block body %}
    <h1>Create new Profs</h1>

    {{ include('profs/_form.html.twig') }}

    <a href="{{ path('app_profs_index') }}">back to list</a>
{% endblock %}
